[project]
	description = Tic Tac Toe Game Django + Python + Javascript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ahmad Abbad (abbad)
[access "refs/for/refs/*"]
	read = group user/Ahmad Abbad (abbad)
	push = group user/Ahmad Abbad (abbad)
	label-Code-Review = -2..+2 group user/Ahmad Abbad (abbad)
	label-Verified = -1..+1 group user/Ahmad Abbad (abbad)
	rebase = group user/Ahmad Abbad (abbad)
	removeReviewer = group user/Ahmad Abbad (abbad)
	submit = group user/Ahmad Abbad (abbad)
[access "refs/heads/*"]
	read = group user/Ahmad Abbad (abbad)
	create = group user/Ahmad Abbad (abbad)
	push = +force group user/Ahmad Abbad (abbad)
	pushMerge = group user/Ahmad Abbad (abbad)
[access "refs/tags/*"]
	push = +force group user/Ahmad Abbad (abbad)
	pushTag = group user/Ahmad Abbad (abbad)
	pushSignedTag = group user/Ahmad Abbad (abbad)
